/* Reset styling for Material-UI full screen dashboard */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: ui-monospace, monospace;
  background-color: #0b0f19;
}
